*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

  a-scene {
    width: 100vw;
    height: 100vh;
  }

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin: 1rem;
}

nav ul li a{
    background-color: #B91372;
    color: #FDFFFC;
    max-width: 300px;
    width: 100%;
    display: block;
    margin-inline: auto;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover{
    background-color: #831553;
}

footer{
    text-align: center;
}
